*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.header{
    background-color: white;
}
.logo{
    width: 200px;
    
}

body {
    background-color: #e2e2e2f7;
}
.container{
    background-color: #ffffff;
    width: 80%;
    margin: 40px auto;
    border: 1px  solid  #dfdfdf;
    
}
.menu{
    border-bottom: 1px  solid  #dfdfdf;
}

.bottoni{
    margin: 10px 0px 10px 20px;
    text-align: left;
    display: inline-block;
}

.addtask{
    background-color: #20b2aa;
    border-radius: 8px;
    padding: 5px;
    border: 1px  solid  #dfdfdf;
}

.addsection{
    background-color: #fffdfd;
    border-radius: 8px;
    padding: 5px;
    border: 1px  solid  #dfdfdf;
}