*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.header{
    background-color: white;
}
.logo{
    width: 200px;
    
}

body {
    background-color: #d3d3d3da;
}
.container{
    background-color: white;
    width: 80%;
    margin: 40px auto;
    border: 1px  solid  black;
    padding: 40PX;
}